.PaddingContainer {
    padding: 20px;
    display: block;
}

.GraphContainer {
    width: 100%;
    display: block;
}

.DefaultTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #CCC;
    text-align: center;
}
.DefaultTable.WithDetail tr td:last-child{
    cursor: hand;
}

.DefaultTable thead {
    background: #CCCCCC;
}

.DefaultTable tbody tr:not(:last-child) td {
    border-bottom: 1px solid #CCCCCC;
}

.DefaultTable tbody td:not(:last-child) {
    border-right: 1px solid #CCCCCC;
}

.DefaultTable tbody td:fist-child {
    text-align: left;
}

.RelativeContainer {
    position: relative;
    height: 100%;
}

.RelativeContainer > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
